<div class="container">
<table class="table table-striped">
  <thead>
    <th>Id</th>
    <th>Firstname</th>
    <th>LastName</th>
    <th>Operations</th>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
    <td class="">{{user.id}}</td>
    <td class="">{{user.firstName}}</td>
    <td class="">{{user.lastName}}</td>
    <td><button class="btn btn-danger" (click)="deleteUser(user)">Delete</button>&nbsp;
      <button class="btn btn-primary" (click)="updateUser(user)">Edit</button></td>
    </tr>
  </tbody>
  <button class="btn btn-primary" (click)="newUser()">New User</button>
</table>

</div>